* {
    box-sizing: border-box;
    background-color: #fafaff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.visual-word-box > div {
    flex: 1;
}

/* Header */
.word-box, .wrong-letters-box {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.word-box > div {
    font-size: 1.5vw;

}

.d-flex {
    align-items: center;

}

.d-flex > div {
    display: flex;
    flex: 1;
    flex-flow: row nowrap;
    justify-content: center;
}

.d-flex > div > div {
    font-size: 3vw;
    margin: 0;
    font-weight: bold;
    color: teal;
}

/* Header ends */

/* Word */
.word-box {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.word-box > h2 {
    color: #30343f;
}

/* Word ends */

/* Buttons */
.buttons-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 5vw 10vw;
    row-gap: 2vh;


    /*max-height: 10vw;*/

}
@media (max-width: 600px) {
    .buttons-box {
        margin: 0;
        padding: 5vw 10vw;
    }

    .btn-default,.btn-clicked {
        margin: 0;
        min-width: 10vw;
        min-height: 10vw;
        font-size: 10vw;
    }
}

.btn-default {
    margin: 0.4vw;
    font-weight: 600;
    background-color: teal;
    color: #fafaff;
    font-size: 1.5vw;
    border: none;
    border-radius: 100px;
    width: 4.5vw;
    height: 4.5vw;

    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out
}
/*.buttons-box > div {*/
/*  width: 53%;*/
/*}*/



.btn-clicked {
    margin: 0.4vw;
    font-size: 1.5vw;

    width: 4.5vw;
    height: 4.5vw;
    font-weight: bold;
    background-color: none;
    color: rgb(128, 128, 128);
    border: none;
}

.btn-default:hover {
    color: teal;
    cursor: pointer;
    background-color: #fafaff;
    outline: 4px solid teal;
    outline-offset: 5px;
    font-weight: bolder;
}

/* Buttons ends */

/* Visuals */
.visuals {
    /* padding-left: 460px; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

}

.visuals > img {
    mix-blend-mode: multiply;
    height: 20vh;

}

/* Visuals ends */

/* WrongLetters */
.wrong-letters-box {
    font-size: 2vw;
    color: teal;
    border-top: solid teal 1px;
}

.wrong-letters-box > div {
    padding: 0.2rem;
}

.wrong-letters-box > button {
    /*margin-top: 15px;*/
    padding: 0.2rem 0.4rem;
    border-radius: 0.375rem;
    border: solid teal 2px;
    color: teal;
}

.wrong-letters-box > button:hover {
    color: teal;
    cursor: pointer;
    background-color: #fafaff;
    outline: 4px solid teal;
    outline-offset: 5px;
    font-weight: bolder;
}