* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: transparent;
}

.visual-word-box > div {
    flex: 1;
}

/* Header */
.word-box, .wrong-letters-box {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.word-box > div {
    font-size: 1.5vw;
}

.d-flex {
    align-items: center;
    /*justify-content: center;*/
}

.d-flex > div {
    display: flex;
    flex: 1;
    /*flex-flow: row nowrap;*/
    justify-content: center;
}

.hangman-banner {
    font-size: 2vw;
    margin: 0;
    font-weight: bold;
    color: teal;
}

.need-help {
    color: white;
    padding: 0.25vw 0.5vw;
    font-size: 1vw;
}
/* Header ends */

/* Word */
.word-box {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.word-box > div {
    font-size: 1.5vw;
    color: teal;
}

/* Word ends */

/* Buttons */
.buttons-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 3vw 30vw;
    row-gap: 2vh;
}

.btn-default {
    margin: 0.35vw;
    font-weight: 600;
    background-color: teal;
    color: white;
    font-size: 1.5vw;
    border: none;
    border-radius: 100px;
    width: 3.5vw;
    height: 3.5vw;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out
}

.btn-help {
    background-color: teal;
    border-radius: 100px;
    border: none;

}

.btn-clicked {
    margin: 0.35vw;
    font-size: 1.5vw;
    width: 3.5vw;
    height: 3.5vw;
    font-weight: bold;
    color: rgb(128, 128, 128);
    border: none;
    background-color: transparent;
}

.btn-default:hover {
    color: teal;
    cursor: pointer;
    background-color: transparent;
    outline: 0.2rem solid teal;
    outline-offset: 0.1rem;
    font-weight: bolder;
}

/* Buttons ends */

/* Visuals */
.visuals {
    display: flex;
    flex-flow: row nowrap;
    height: 30vh;
    justify-content: center;
}

.lose-visual {
    display: flex;
    flex-flow: row;
    mix-blend-mode: multiply;
    align-items: center;
    color: teal;
    background: none;
    justify-content: center;
}
.lose-visual> div > img{
    /*mix-blend-mode: multiply;*/
    height: 20vh;
}
.lose-message {
    background: none;
}
.lose-reveal-ans {
    display: flex;
    font-size: large;
    font-weight: bolder;
    justify-content: center;
    background: none;
}
/* Visuals ends */

/* WrongLetters */
.wrong-letters-box {
    font-size: 1.5vw;
    color: teal;
    border-top: solid teal 1px;
}

.wrong-letters-box > div {
    padding: 0.2rem;
}

.wrong-letter-circle {
    display: flex;
}

.wrong-letter-circle > div {
    margin: 0.1vw;
    font-weight: 600;
    background-color: teal;
    color: white;
    font-size: 1.3vw;
    border: none;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2vw;
    height: 2vw;
}

.wrong-letters-box > div > button {
    margin-left: 1vw;
    padding: 0.2rem 0.4rem;
    border-radius: 0.3rem;
    border: solid teal 2px;
    color: teal;
}

.wrong-letters-box > div > button:hover {
    color: teal;
    cursor: pointer;
    /*background-color: #fafaff;*/
    outline: 0.3rem solid teal;
    outline-offset: 0.1rem;
    font-weight: bolder;
}

@media (max-width: 600px) {
    .d-flex {
        margin: 3vh 0;
    }
    .d-flex > div {
        display: grid;
    }
    .hangman-banner {
        font-size: 4vw;
    }

    .visuals {
        display: flex;
        flex-flow: row nowrap;
        height: 15vw;
    }

    .need-help {
        padding: 1vw 0;
        font-size: 3vw;
    }

    .wrong-letters-box {
        font-size: 3vw;
    }

    .wrong-letter-circle > div {
        font-size: 3vw;
        margin: 1vw;
        width: 6vw;
        height: 6vw;
    }

    .word-box > div {
        font-size: 5vw;
    }

    .buttons-box {
        margin: 0;
        padding: 10vw 6vw;
    }

    .btn-default, .btn-clicked {
        margin: 2vw;
        width: 8.5vw;
        height: 8.5vw;
        font-size: 3vw;
    }
}